.contact {
    position: relative;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    width: 780px;
    min-height: 592px;
    background-color: #F2F0F1;
    border-radius: 20px;
}

.contact__title {
    font-family: "Comfortaa", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 30px;
    color: #ff8a00;
}

.contact__icon {
    display: inline-block;
    margin-right: 6px;
    vertical-align: text-bottom;
}

.contact__input {
    border: 0;
    width: 280px;
    height: 40px;
}

.contact__text-bold {
    font-weight: 550
}

.contact__text-bold:last-child {
    margin-bottom: 30px;
}

.contact__label {
    display: block;
    text-align: left;
    line-height: 14px;
    font-size: 12px;
}

.contact__label:not(:last-child) {
    padding-bottom: 20px;
}

.contact__inside {
    padding: 50px 100px;

}

.contact__button {
    padding: 12px 56px;
    background-color: #282626;
    color: #ff8a00;
    font-size: 12px;
    text-transform: uppercase;
}

.contact__form {
    padding: 15px 15px 35px 15px;
    border: 0;
    position: relative;
    width: 280px;
    left: 50%;
    transform: translate(-50%);
}

.contact__text-orange {
    color: #ff8a00;
    margin-bottom: 20px;
    font-weight: 550;
}
